<h1><%= @place["name"] %></h1>

<p>
  <a class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>" role="button">New Entry</a>
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% for entry in @entries %>
    <div class="col">
        <div class="card h-100">
            <img src="image1.jpg" class="card-img-top" alt="Post Image">
            <div class="card-body">
                <h5 class="card-title"><%= entry["title"] %></h5>
                <p class="card-text"><small class="text-muted"><%= entry["occurred_on"] %></small></p>
                <p class="card-text"><%= entry["description"] %></p>
            </div>
        </div>
    </div>
  <% end %>
</div>



